*.bak
*.pyc
*.xml
*.tar.gz
*.iml
*.icls
/_windows/
/codestyles/
# Temp
build/
docs/build/
docs/_build/
dist/
*.egg-info/
colors
# IDE
.idea/
# jupyter
.ipynb_checkpoints
.venv/

#docs/source/_static/
#docs/source/_templates/
.DS_Store
/data
/out
/tests/data
